version: "3"

services:
  # postgresdb:
  #   build:
  #     context: ./docker/postgres
  #     dockerfile: Dockerfile
  #   environment:
  #     - POSTGRES_PASSWORD=admin
  #   volumes:
  #     - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
  #   ports:
  #     - "5432:5432"

  backend:
    build:
      context: ./
      dockerfile: ./backend.Dockerfile
    # volumes:
    #   - ./backend/:/usr/src/app
    depends_on:
      - postgresdb
    ports:
      - "8000:8000"
    environment:
      - DB_NAME=netology
      - DB_USER=dotsenkois
      - DB_PASSWORD=12345678
      - HOST=84.201.175.97
      - PORT=5432

  frontend:
    build:
      context: ./
      dockerfile: frontend.Dockerfile
    depends_on:
      - backend
      # - postgresdb
    ports:
      - "8080:8080"
    # volumes:
    #   - ./static/:/static/